* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.fa-solid, .fas {
    font-weight: 900;
    color: white;
    margin-left: -48px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(/front-end/img/Pagina/Fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 18px;
    backdrop-filter: blur(55px);
    padding: 78px;
    max-width: 1314px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: rgb(0 0 0 / 31%);
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-right: 9px;
    margin-left: -233px;
    transition: transform 0.5s ease-in-out;
}

.logo-container.move-right {
    transform: translateX(132%);
}

.logo {
    width: 266px;
    height: auto;
}

.logo-text {
    font-size: 6rem;
    color: #fff;
    margin-top: 10px;
}

.divider {
    width: 7px;
    height: 593px;
    background-color: rgb(255 255 255);
    margin: 0 40px;
    border-radius: 12px;
    margin-left: 28px;
    margin-right: 170px;
    display: block;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(0 0 0 / 16%);
    border-radius: 15px;
    padding: 63px 80px;
    border: 2px solid #fff;
    max-width: 500px;
    width: 100%;
    margin-right: -10em;
    margin-left: -4em;
    transition: transform 0.5s ease-in-out;
}

.form-container.move-left {
    transform: translateX(-131%);
}

.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 150%;
    width: 100%;
    border-bottom: 2px solid #fff;
}

.inputbox input {
    width: 20em;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0px 9px 0 6px;
    color: #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-100%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: top 0.3s ease, transform 0.3s ease;
}

input:focus ~ label,
input:valid ~ label {
    top: -10px;
    transform: translateY(0);
    font-size: 0.8rem;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}

.user-admin-toggle {
    display: flex;
    justify-content: center;
    gap: 0px;
    margin: 20px 0;
}

.user-admin-toggle input {
    display: none;
}

.user-admin-toggle label {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 11px 48px;
    border-radius: 1px;
    transition: all 0.4s ease;
    color: #fff;
    border: 2px solid white;
}

.user-admin-toggle input:checked + label {
    background-color: rgb(255, 255, 255);
    color: #000;
    border: 2px solid white;
}

.forget {
    justify-content: center;
    margin: 15px 0;
    font-size: 0.85rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label {
    display: flex;
    align-items: center;
}

.forget label input {
    margin-right: 3px;
}

.forget a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.forget a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

button {
    width: 50%;
    height: 40px;
    margin-left: 92px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
    margin-top: 10px;
    margin-bottom: 13px;
}

button:hover {
    background-color: rgba(253, 253, 253, 0.5);
}

.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.butonDireccion {
    text-decoration: none;
    color: black;
}