@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    overflow: hidden;
    display: flex;
    justify-content: center;  
    align-items: center;      
    min-height: 100vh;        
}

body.swal2-height-auto {
    height: auto !important;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
        linear-gradient(360deg, rgba(80, 80, 80, 0.341) 0.91%, rgba(73, 73, 73, 0.28) 47.77%, rgba(80, 80, 80, 0.341) 99.52%), 
        url('/front-end/img/Pagina/Fondoword.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.fuente1 {
    color: #000000;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

.fuente11 {
    color: #ffffff;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
}

.fuente2 {
    color: #ffffff;
    font-family: "Titillium Web", sans-serif;
    font-weight: 100;
}

.container {
    width: 800px;
    height: 500px;
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container-form {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
    padding: 20px; /* Añadir padding para no estar pegado a los bordes */
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    height: 100%; 
}

.container-form a {
    color: #ffffff !important;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: bold;
}

.container-form u {
    color: #000000 !important;
    font-weight: bold;
}

.container-form form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
}

.container-form h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.social-networks {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}

.social-networks ion-icon {
    border: 1px solid #C9CCCB;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
}

.centrar {
    text-align: center;
}

.container-form span {
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: bold;
}

.container-input {
    width: 70%;
    height: 7%;
    margin-bottom: 3%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2%;
    padding: 0 15px;
    background-color: #EEEEEE;
}

.container-input input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.button {
    width: 30%;
    height: 10%;
    font-size: 100%;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    margin-top: 5%;
    background-color: #3E5059;
    color: white;
    font-weight: bold;
}

.button a {
    text-decoration: none; 
    color: inherit; 
}

.button a:hover {
    color: inherit; 
}

.sign-up {
    transform: translateX(-100%);
}

.container.toggle .sign-in {
    transform: translateX(100%);
}

.container.toggle .sign-up {
    transform: translateX(0);
}

.container-welcome {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    background-color: #3E5059;
    transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 50% 0 0 50%;
}

.container.toggle .container-welcome {
    transform: translateX(0);
    border-radius: 0 50% 50% 0;
    background-color: #596b74;
}

.container-welcome .welcome {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    transition: transform 0.5s ease-in-out;
    font-weight: bold;
}

.padding1 {
    padding: 0 30px 0 70px;
}

.padding2 {
    padding: 0 70px 0 30px;
}

.welcome-sign-in {
    transform: translateX(100%);
}

.container-welcome h3 {
    font-size: 40px;
    font-weight: bold;
}

.container-welcome p {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.container-welcome .button {
    border: 2px solid white;
    background-color: transparent;
    font-weight: bold;
}

.container.toggle .welcome-sign-in {
    transform: translateX(0);
}

.container.toggle .welcome-sign-up {
    transform: translateX(-100%);
}

.profile-image-container {
    position: relative;
    display: inline-block;
}

.change-label {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    display: none; 
    cursor: pointer;
}

.profile-image-container:hover .change-label {
    display: block; 
}

#profileImage {
    cursor: pointer;
}

select {
    width: 100%;
    height: 33px;
    border: none;
    background-color: transparent;
    color: #000000;
}

select option {
    background-color: #eeeeee; 
    color: black;
    font-weight: bold;
}

select option:hover,
select option:focus {
    background-color: #3e5059; 
    color: white; 
}

select:focus {
    outline: none; 
}

.swal2-container .swal2-styled.swal2-confirm {
    border: 0 !important;
    border-radius: .25em !important;
    background-color: #3e5059 !important;
    color: #fff !important;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Cambiar el ancho a 90% en móviles */
        height: auto; 
        flex-direction: column; 
    }

    .container-welcome {
        display: none; 
    }

    .container-form {
        width: 100%; 
        padding: 20px; /* Asegurarse de que haya padding en móviles también */
    }

    .sign-in {
        width: 100%; 
        justify-content: center; /* Asegura que el contenido esté centrado */
        text-align: center; /* Asegura que el texto esté centrado horizontalmente */
    }

    .social-networks {
        justify-content: center; 
    }
}
