/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-image: url('/front-end/img/Pagina/Fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    max-width: 90%;
}

.combined {
    display: flex;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 20px;
}

.Descrip {
    flex: 1;
    border-radius: 0 20px 20px 0;
    padding: 20px;
}

.Descrip h1 {
    font-size: 28px;
    margin-bottom: 12px;
    margin-top: 12px;
    text-align: center;
}

.Descrip h2 {
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
}

.Descrip h3 {
    font-size: 22px;
    margin: 20px 0 10px;
}



.product {
    flex: 1;
    border-radius: 70px 0 0 70px;
}

.product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 70px;
}


.container {
    border: solid 1px rgba(255, 255, 255, 0.2);
    justify-content: center;
}

table {
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: rgb(129, 129, 129);
}

th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

input{
    width: 22px;
    border-radius: 7px;
    border-color: white;
}

tbody tr {
    background-color: #fff;
    cursor: pointer;
    color: black;

}

tbody tr:hover {
    background: rgba(113, 180, 255, 0.4);
}


#search {
    margin-left: 2.5em;
    width: 42em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 13px;
    }
    
    input[type="submit"] {
    background-color: rgb(129, 129, 129);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 107px;

    }

    .back-button {
        padding: 5px 10px; /* Ajusta el padding según tu preferencia para hacer el botón más pequeño */
        max-width: 100px; /* Establece un ancho máximo para que el botón no se expanda demasiado en dispositivos grandes */
    }
    
    .back-button img {
        max-width: 61%; /* Asegura que la imagen dentro del botón se ajuste correctamente */
    }


/* Media query para dispositivos móviles con un ancho máximo de 993px */
@media screen and (max-width: 993px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .combined {
        flex-direction: column; /* Cambiar la dirección a columna en dispositivos móviles */
    }

    .product,
    .Descrip {
        width: 100%;
        max-width: none;
        margin: 0 0 20px;
        border-radius: 70px; /* Redondear los bordes en dispositivos móviles */
    }

    .product img {
        width: 100%;
        height: auto;
        margin-left: 0; /* Eliminar el margen izquierdo en dispositivos móviles */
    }
}
