<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppInvGenius"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".item_bajo_en_stock"
            android:exported="false" />
        <activity
            android:name=".item_productos_a_caducar"
            android:exported="false" />
        <activity
            android:name=".Bajo_en_stock"
            android:exported="false" />
        <activity
            android:name=".productos_a_caducar"
            android:exported="false" />
        <activity
            android:name=".productos_caducados"
            android:exported="false" />
        <activity
            android:name=".item_productos_caducados"
            android:exported="false" />
        <activity
            android:name=".cambiar_contrasena"
            android:exported="false" />
        <activity
            android:name=".vista_previa"
            android:exported="false" />
        <activity
            android:name=".restablecer_contrasena"
            android:exported="false" />
        <activity
            android:name=".Restablece"
            android:exported="false" />
        <activity
            android:name=".producto"
            android:exported="false" />
        <activity
            android:name=".perfil"
            android:exported="false" />
        <activity
            android:name=".olvidar_contrasena"
            android:exported="false" />
        <activity
            android:name=".lote"
            android:exported="false" />
        <activity
            android:name=".categoria"
            android:exported="false" />
        <activity
            android:name=".actualisar_contrasena"
            android:exported="false" />
        <activity
            android:name=".navegacionvista"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>